QScrollBar:vertical {
    border: none;
    background: #f0f0f0;
    width: 12px;
    margin: 0px 0px 0px 0px;
}

QScrollBar::handle:vertical {
    background: #a9a9a9;
    min-height: 50px;
    border-radius: 4px;
}

QScrollBar:horizontal {
    border: none;
    background: #f0f0f0;
    height: 12px;
    margin: 0px 0px 0px 0px;
}

QScrollBar::handle:horizontal {
    background: #a9a9a9;
    min-width: 20px;
    border-radius: 4px;
}