# Ignore virtual environments
venv/
.env/

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore IDE configs
.idea/
.vscode/

# Ignore databases / local files
src/database/*.db

# Ignore logs
*.log
